name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: copy google-service
      env:
        GOOGLE_SERVICE: ${{ secrets.GOOGLE_SERVICE_JSON }}
      run: echo $GOOGLE_SERVICE | base64 --decode --ignore-garbage > ./app/google-services.json
    - name: build debug
      run: ./gradlew assembleDebug
    - name: Upload debug apk file
      uses: actions/upload-artifact@v2
      with:
        name: mlkit-material-debug
        path: app/build/outputs/apk/debug/app-debug.apk
    - name: signed-apk config
      env:
        KEY_JKS: ${{ secrets.KEY_JKS }}
        KEY_PASSWORD: ${{ secrets.ALIAS_PASSWORD }}
        ALIAS_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        run: echo $KEY_JKS | base64 --decode --ignore-garbage > release.keystore
    - name: build release 
      run: ./gradlew assembleRelease
    - name: Upload release apk file
      uses: actions/upload-artifact@v2
      with:
        name: mlkit-material-release-unsigned
        path: app/build/outputs/apk/release/app-release.apk
